<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBh2xWeY13tN_30U5Kgmh_LS6bA8BdAifg</string>
	<key>GCM_SENDER_ID</key>
	<string>747686137083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-88c02</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-88c02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747686137083:ios:78e2bc8148bf72f91b745e</string>
</dict>
</plist>